@import url("../../vendor/css/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-Poppins;
  }

  /* ========== Headers ========== */

  header {
    @apply fixed w-full top-0 left-0 right-0;
  }

  #second-navbar {
    @apply backdrop-blur-sm shadow-sm shadow-t-white/30 bg-white/90;
  }

  header {
    @apply z-[99999999999];
  }

  .navbar-hide {
    @apply -translate-y-full;
  }

  .navbar-show {
    @apply translate-y-0 transition-all duration-300 ease-in-out;
  }

  header .nav-link {
    @apply text-lg px-6 text-t-black hover:text-t-primary hover:bg-transparent active:!bg-transparent active:!text-t-primary;
  }

  .nav-link.active {
    @apply !text-t-primary !bg-transparent;
  }

  .sidebar {
    @apply fixed top-0 right-0 h-screen w-2/3 translate-x-full transition-all duration-300 ease-in-out bg-white shadow-lg shadow-t-gray z-[99999999999];
  }

  .sidebar .sidebar-btn {
    @apply justify-between items-center border-b;
  }

  .sidebar .closeSidebar i {
    @apply w-10 h-10 flex items-center justify-center bg-c-primary rounded-full text-t-white;
  }

  .sidebar .nav-link {
    @apply text-lg px-10 text-t-black rounded-none border-b transition-colors duration-300 hover:bg-t-gray/20 hover:text-t-primary active:!bg-t-gray/20 active:!text-t-primary;
  }

  .sidebar .nav-link.active {
    @apply !bg-t-gray/20 !text-t-primary;
  }

  .nav-btn {
    @apply border rounded-full border-t-black px-10 py-2 transition-all duration-300 ease-linear font-semibold bg-transparent text-t-black hover:border-t-primary hover:bg-t-primary hover:text-t-white;
  }

  /* ========== Footer ==========  */

  footer {
    @apply py-10 bg-black xl:mx-10 xl:my-5 xl:rounded-3xl;
  }

  footer .newsletter {
    @apply flex flex-col md:flex-row items-center md:items-start justify-between gap-10;
  }

  footer .newsletter .title {
    @apply w-full md:w-auto text-center md:text-left;
  }

  footer .newsletter .title h2 {
    @apply text-2xl md:text-3xl font-semibold;
  }

  footer form {
    @apply flex items-center w-full max-w-lg bg-white rounded-full shadow-md overflow-hidden;
  }

  footer form .envelope {
    @apply flex items-center px-1 md:px-4 m-1 text-gray-500 text-lg;
  }

  footer form input {
    @apply flex-1 bg-transparent text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-0 md:px-4 px-1;
  }

  footer form button {
    @apply bg-c-primary text-t-white rounded-full w-12 h-12 flex items-center justify-center hover:bg-t-primary transition-all duration-300 m-1;
  }

  footer .line {
    @apply block w-1/2 h-px my-16 bg-gradient-to-r from-c-primary/30 via-t-primary to-c-secondary/30 mx-auto;
  }

  footer .socials {
    @apply flex gap-3 mt-5;
  }

  footer .socials a {
    @apply text-t-white hover:text-t-primary;
  }

  footer .socials a i {
    @apply w-10 h-10 flex border transition-all duration-300 border-white rounded-full items-center justify-center;
  }

  .footer-nav {
    @apply py-1 text-lg text-t-white hover:text-t-primary;
  }

  footer .socket {
    @apply flex justify-start md:justify-center items-center mt-10;
  }

  /* ==========  Start Home Page ==========  */

  /* +++++++++++++++++++++ Hero & Intro Section +++++++++++++++++++++ */

  .hero-intro-section {
    @apply pb-16;
  }

  .hero-bg {
    @apply absolute w-full h-full lg:h-[85%] -z-10 bg-cover bg-left pb-10;
    background-image: url("../images/bg-1.jpg");
  }

  /* Hero Content  */
  .hero-section {
    @apply w-full min-h-screen flex pt-36 flex-col justify-center gap-24 items-center;
  }

  .hero-section .title {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold text-center text-t-white font-Jakarta;
  }

  .hero-section .title span {
    @apply block text-2xl md:text-3xl lg:text-4xl mt-5;
  }

  .hero-section .description {
    @apply text-center text-t-gray py-12 md:px-16 text-lg lg:text-xl leading-8;
  }

  .hero-section .hero-btn {
    @apply inline-block px-5 py-2 md:px-7 md:py-3 font-bold text-xl hover:bg-t-black transition-all duration-500 rounded-full bg-t-primary text-t-white relative;
  }

  .hero-section .hero-btn span {
    @apply absolute top-0 right-full w-16 xs:w-24 h-auto animate-bounce;
  }

  /* Brand Slide Section  */
  .brands {
    @apply w-full p-5 backdrop-brightness-75 mx-auto px-5 md:px-10 xl:px-20;
  }

  .brands .swiper-slide {
    @apply flex w-auto px-10;
  }

  .brands .swiper-slide img {
    @apply w-44 h-auto object-cover rounded-lg grayscale hover:grayscale-0 transition-all duration-300;
  }

  /* Intro Section  */
  .intro {
    @apply mx-auto flex flex-col lg:flex-row-reverse justify-center gap-10;
  }

  .intro .video {
    @apply inset-0 rounded-xl p-1 bg-gradient-to-r from-t-primary via-c-primary to-c-secondary;
  }

  .intro .video video {
    @apply w-full h-auto object-cover rounded-lg;
  }

  .intro #videoControlBtn {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-50 w-16 h-16 rounded-full transition-all duration-500 text-t-white hover:bg-opacity-70 group-hover:opacity-100 transform scale-100 group-hover:scale-110;
  }

  .intro #playIcon {
    @apply w-full h-full flex items-center justify-center text-3xl;
  }

  .intro .intro-content {
    @apply p-10 shadow-inner border-2 rounded-3xl border-t-primary/50 bg-t-white;
  }

  .intro .intro-content h2 {
    @apply text-2xl lg:text-4xl font-bold text-t-black font-Jakarta text-center mb-4;
  }

  .intro .intro-content p {
    @apply text-lg text-t-black-2/80 text-justify;
  }

  /* +++++++++++++++++++++ Work Section +++++++++++++++++++++  */
  .work-section {
    @apply bg-t-black xl:mx-10 xl:my-5 xl:rounded-3xl py-20 text-t-white;
  }

  .work-section .titles {
    @apply flex flex-col lg:flex-row justify-between items-center mb-28 gap-5;
  }

  .work-section .titles .title {
    @apply mb-8 lg:mb-0 text-center lg:text-left;
  }

  .work-section .titles .title h4 {
    @apply text-t-primary text-xl font-semibold;
  }

  .work-section .titles .title h2 {
    @apply text-3xl lg:text-5xl font-extrabold text-t-white font-Jakarta mt-5 leading-snug;
  }

  .work-section .titles .desc {
    @apply text-left max-w-lg;
  }

  .work-section .titles .desc p {
    @apply text-t-gray-2 text-lg;
  }

  .work-section .work-card {
    @apply transition-all duration-500 ease-in-out opacity-100 max-h-screen overflow-hidden text-t-white rounded-lg shadow-lg flex gap-16;
  }

  .work-section .work-card.hide {
    @apply opacity-0 max-h-0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  .work-section .work-card.hidden {
    display: none;
  }

  .work-section .work-card .image {
    @apply w-full md:w-3/5 inline-block relative rounded-lg overflow-hidden;
  }

  .work-section .work-card .image img {
    @apply w-full h-full object-contain;
  }

  .work-section .work-card .image a {
    @apply absolute w-full h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center transition-all duration-300;
  }

  /* .work-section .work-card .image a span {
    @apply w-24 h-24 flex items-center justify-center rounded-full text-t-black bg-t-white/20 shadow-sm shadow-t-black/30 text-lg;
  } */

  .work-section .work-card .content {
    @apply p-6 flex flex-col justify-between md:w-3/6;
  }

  .work-section .work-card .tags span {
    @apply text-t-white text-sm px-4 py-2 rounded-full bg-t-primary/20 inline-block hover:text-t-primary transition-all duration-300;
  }

  .work-section .work-card .title {
    @apply text-xl lg:text-3xl font-bold mt-2 hover:text-t-primary transition-all duration-300 leading-9;
  }

  .work-section .work-card .content p {
    @apply text-t-gray-2 mt-4;
  }

  .work-section .work-card .view {
    @apply text-t-primary mt-4 inline-block;
  }

  .work-section .view-more {
    @apply inline-block mt-16 py-2 px-6 bg-gradient-to-r from-t-primary via-c-primary to-c-secondary text-t-white font-semibold rounded-lg hover:bg-gradient-to-l hover:from-t-primary hover:via-c-primary hover:to-c-secondary transition-all duration-300;
  }

  /* +++++++++++++++++  Why us Section ++++++++++++++++++ */

  .why-us-section {
    @apply bg-bg-white xl:mx-10 xl:my-5 xl:rounded-3xl py-20;
  }

  .why-us-section .titles {
    @apply flex flex-col justify-between items-center mb-28 gap-5;
  }

  .why-us-section .titles h4 {
    @apply text-t-primary text-xl font-semibold;
  }

  .why-us-section .titles h2 {
    @apply text-3xl lg:text-5xl font-extrabold text-t-black font-Jakarta mt-5 leading-snug max-w-xl text-center;
  }

  .why-us-section .titles p {
    @apply text-t-black-2/80 text-lg max-w-xl text-center;
  }

  .why-us-section .card-group {
    @apply flex relative gap-5 mx-auto;
  }

  .why-us-section .card-group .card-lg {
    @apply flex flex-wrap items-start bg-t-white rounded-[30px] p-10 w-full lg:w-7/12;
  }

  .why-us-section .card-group .card-sm {
    @apply flex flex-wrap items-start bg-t-white rounded-[30px] p-10 w-full lg:w-5/12;
  }

  .why-us-section .card-group .count {
    @apply absolute bg-t-black w-12 h-16 text-t-white text-2xl rounded-[30px] transform rotate-45 z-10 flex items-center justify-center;
  }

  .why-us-section .card-group .card-sm .count {
    @apply relative;
  }

  .why-us-section .card-group .count span {
    @apply transform -rotate-45;
  }

  .why-us-section .card-group .image {
    @apply mb-10 text-right;
  }

  .why-us-section .card-group .card-sm .image {
    @apply mb-0 mt-10;
  }

  .why-us-section .card-group img {
    @apply w-full h-auto;
  }

  .why-us-section .card-group .title {
    @apply text-3xl mb-4 leading-10 font-semibold;
  }

  .why-us-section .card-group .desc {
    @apply text-t-black-2 text-base mb-0;
  }

  /* +++++++++++++++++++++ Work Process Section +++++++++++++++++++++ */

  .work-process-section {
    @apply relative py-16 bg-cover bg-left;
    background-image: url("../images/bg-1.jpg");
  }

  .work-process-section .title {
    @apply text-center mb-12;
  }

  .work-process-section .title h4 {
    @apply bg-bg-white text-t-primary text-base px-6 py-2 inline-block rounded-full uppercase tracking-wide;
  }

  .work-process-section .title h2 {
    @apply text-t-white text-3xl font-bold mt-4;
  }

  .work-process-section .content {
    @apply relative grid grid-cols-1 lg:grid-cols-3 gap-8 justify-between items-center;
  }

  .work-process-section .content .card {
    @apply relative flex flex-col items-center text-center w-full;
  }

  .work-process-section .dot-line {
    @apply hidden lg:inline-block p-5;
  }

  .work-process-section .dot {
    @apply w-3 h-3 bg-c-secondary rounded-full absolute top-0 left-1/2 transform -translate-x-1/2;
  }

  .work-process-section .line {
    @apply absolute top-10 left-1/2 w-0.5 h-5 bg-bg-primary opacity-40 transform -translate-x-1/2;
  }

  .work-process-section .inner-content {
    @apply mt-16 w-full flex flex-col items-center;
  }

  .work-process-section .inner-content .count {
    @apply text-blue-600 text-6xl font-bold mb-4;
  }

  .work-process-section .inner-content h3 {
    @apply text-t-white text-lg font-semibold mb-3;
  }

  .work-process-section .inner-content .desc {
    @apply text-t-gray max-w-xs mx-auto;
  }

  .work-process-section .vertical-line {
    @apply absolute hidden lg:inline-block top-5 z-0 h-0.5 w-[30%] bg-bg-primary opacity-50;
  }

  /* +++++++++++++++++++++ Service Section +++++++++++++++++ */

  .service-section {
    @apply py-20;
  }

  .service-section .title {
    @apply flex flex-col justify-between items-center mb-28 gap-5;
  }

  .service-section .title h4 {
    @apply text-t-primary text-xl font-semibold;
  }

  .service-section .title h2 {
    @apply text-3xl lg:text-5xl font-extrabold text-t-black font-Jakarta mt-5 leading-snug max-w-xl text-center;
  }

  .service-section .title p {
    @apply text-t-black/80 text-lg max-w-xl text-center;
  }

  .service-section .service-cards .swiper {
    @apply static;
  }

  .service-section .service-cards .swiper-button-prev {
    @apply 2xl:left-auto 2xl:right-[105%] text-t-black;
  }

  .service-section .service-cards .swiper-button-next {
    @apply 2xl:right-auto 2xl:left-[105%] text-t-black;
  }

  .service-section .card {
    @apply bg-t-white rounded-3xl p-10 border;
  }

  .service-section .card .icon {
    @apply w-14 h-auto text-left mb-3;
  }

  .service-section .card img {
    @apply w-full h-auto transition-all duration-300;
  }

  .service-section .card h2 {
    @apply text-2xl font-semibold mb-3 text-t-black;
  }

  .service-section .card p {
    @apply text-t-black-2/60;
  }

  .service-section .card a {
    @apply text-t-primary mt-3 w-10 h-10 rounded-full border border-t-primary flex items-center justify-center transition-all duration-300 hover:bg-t-primary hover:text-t-white;
  }

  /* Testimonials Section  */
  .testimonial-section {
    @apply py-20;
    background-image: url("../images/bg-map.svg");
  }

  .testimonial-section .cards {
    @apply grid grid-cols-1 gap-8;
  }

  .testimonial-section .testimonial {
    @apply px-4 text-center;
  }

  .testimonial-section .main-content {
    @apply flex flex-col items-center;
  }

  .testimonial-section .icon {
    @apply w-10 h-8 sm:w-14 sm:h-10 bg-center bg-no-repeat mb-6 sm:mb-8;
    background-image: url("../images/icon-quote.svg");
  }

  .testimonial-section .desc {
    @apply text-lg sm:text-xl md:text-2xl text-t-black-2/80 font-medium max-w-xl mb-4 sm:mb-6;
  }

  .testimonial-section .author {
    @apply text-xs sm:text-sm text-t-gray-2;
  }

  .testimonial-section .avatars {
    @apply flex justify-center gap-4 mt-6 sm:mt-8;
  }

  .testimonial-section .testimonial-img {
    @apply cursor-pointer w-16 h-16 sm:w-20 sm:h-20 scale-90 rounded-full overflow-hidden border-2 border-t-gray-2/80 transition-all duration-500;
  }

  .testimonial-section .testimonial-img img {
    @apply w-full h-full object-cover;
  }

  .testimonial-section .testimonial-img.active {
    @apply border-t-primary scale-110;
  }

  /* ======================== End Of Home Page ======================== */

  /* ======================== Start About Page ======================== */

  /* About Page Hero Section  */
  .about-hero-section {
    @apply pb-16 pt-32 lg:pt-40 bg-cover bg-center;
    background-image: url("src/images/banner-bg.png.bv.webp");
  }

  .about-hero-section .title {
    @apply text-center mb-16;
  }

  .about-hero-section .heading {
    @apply text-3xl lg:text-6xl font-black font-Jakarta text-t-black-2;
  }

  .about-hero-section .image {
    @apply w-full rounded-3xl overflow-hidden;
  }

  .about-hero-section .image img {
    @apply w-full h-auto object-cover;
  }

  /* Slogan Section  */
  .slogan-seciton {
    @apply py-16;
  }

  .slogan-seciton .text-box {
    @apply text-center px-5 lg:px-20 pb-24;
  }

  .slogan-seciton .decoration-left {
    @apply absolute -top-9 -left-7 -z-10;
  }

  .slogan-seciton .decoration-right {
    @apply absolute -bottom-7 -right-5 -z-10;
  }

  .slogan-seciton .slogan {
    @apply text-t-black-2 text-xl lg:text-3xl font-bold font-Jakarta leading-8 tracking-wide;
  }

  .slogan-seciton .content-box {
    @apply flex flex-col lg:flex-row gap-10 items-center;
  }

  .slogan-seciton .image {
    @apply w-full lg:w-2/5;
  }

  .slogan-seciton .image img {
    @apply w-full h-auto object-cover;
  }

  .slogan-seciton .content {
    @apply w-full lg:w-3/5 gap-10 p-5;
  }

  .slogan-seciton .title {
    @apply text-2xl sm:text-4xl lg:text-5xl font-black font-Jakarta text-t-black-2 mb-10;
  }

  .slogan-seciton .text {
    @apply text-lg my-5 text-t-black/50 pl-8 relative;
  }

  .slogan-seciton .icon {
    @apply text-t-primary absolute top-2 left-0;
  }

  /* Story Section  */

  .story-section {
    @apply py-16;
  }

  .story-section .title {
    @apply text-center mb-12;
  }

  .story-section .title h4 {
    @apply text-lg font-medium text-t-primary uppercase mb-10;
  }

  .story-section .title h2 {
    @apply text-3xl sm:text-5xl lg:text-6xl font-Jakarta font-bold text-t-black-2 w-full max-w-3xl mx-auto;
  }

  .story-section .flex-container {
    @apply flex flex-col lg:flex-row items-center gap-10;
  }

  .story-section .image {
    @apply w-full lg:w-1/2;
  }

  .story-section .image img {
    @apply rounded-3xl w-full h-auto object-cover;
  }

  .story-section .content {
    @apply w-full lg:w-1/2;
  }

  .story-section .content p {
    @apply text-lg text-t-black-2 mb-6;
  }

  .story-section .content p:last-child {
    @apply mb-0;
  }

  .story-section .content strong {
    @apply text-t-primary;
  }

  /* Member Section */
  .member-section {
    @apply py-16 bg-t-black-2 xl:mx-10 xl:mt-5 xl:rounded-3xl;
  }

  .member-section .title {
    @apply mb-20;
  }

  .member-section h4 {
    @apply text-t-primary text-xl font-semibold mb-5;
  }

  .member-section h2 {
    @apply text-2xl sm:text-4xl lg:text-5xl text-t-white lg:w-3/4 font-Jakarta font-black;
  }

  .member-section .members-group {
    @apply grid grid-cols-1 2xs:grid-cols-2 md:grid-cols-3 gap-8;
  }

  .member-section .member {
    @apply text-center text-white;
  }

  .member-section .member .image {
    @apply rounded-xl overflow-hidden;
  }

  .member-section .member .member-image {
    @apply w-full h-auto object-cover;
  }

  .member-section .member .name {
    @apply mt-6 text-xl font-bold;
  }

  .member-section .member .position {
    @apply mt-2 text-t-gray;
  }

  /* ======================== End Of About Page ======================== */

  /* ======================== Start Portfolio Page ======================== */

  /* Filter Options  */

  .case-study {
    @apply pb-16 pt-32 lg:pt-40 bg-cover bg-center;
    background-image: url("../images/banner-bg.png.bv.webp");
  }

  .case-study .filter-options .swiper-slide {
    @apply flex w-auto last:mr-16 first:ml-12;
  }

  .case-study .filter-options .filter-btn {
    @apply inline-block transition-all duration-300 bg-t-black/5 text-t-gray rounded-full px-4 py-2 hover:text-t-white hover:bg-t-primary;
  }

  .case-study .filter-options .filter-btn-active {
    @apply bg-t-primary text-t-white;
  }

  .case-study .filter-options .swiper-button {
    @apply absolute w-10 h-10 rounded-full flex justify-center items-center text-3xl bg-t-white text-t-primary shadow-md after:content-[''];
  }

  .case-study .filter-options .swiper-button-prev {
    @apply top-[55%] left-0;
  }

  .case-study .filter-options .swiper-button-next {
    @apply top-[55%] right-0;
  }

  /* Filter Items  */

  .case-study .filters-items {
    @apply grid grid-cols-1 md:grid-cols-2 gap-10 mt-20;
  }

  .case-study .filter-item {
    @apply flex flex-col transition-all duration-300 ease-out;
  }

  .case-study .filter-item .image {
    @apply w-full h-auto rounded-[50px] overflow-hidden relative;
  }

  .case-study .filter-item .image img {
    @apply w-full h-full object-cover;
  }

  .case-study .filter-item .image a {
    @apply absolute w-full h-full top-0 left-0;
  }

  .case-study .filter-item .content {
    @apply p-6;
  }

  .case-study .filter-item .title {
    @apply text-xl lg:text-3xl font-bold mt-2 hover:text-t-primary transition-all duration-300 leading-9;
  }

  .case-study .filter-item .desc {
    @apply text-t-black-2 my-5;
  }

  .case-study .filter-item .tags {
    @apply flex gap-3 flex-wrap;
  }

  .case-study .filter-item .tag {
    @apply text-t-primary text-sm px-4 py-2 rounded-full bg-t-primary/20;
  }

  /* Site Contact Section */
  .site-contact-section {
    @apply py-16;
  }

  .site-contact-section .grid-layout {
    @apply grid grid-cols-1 xl:grid-cols-3 gap-10;
  }

  .site-contact-section .main-content {
    @apply col-span-1 xl:col-span-2 flex flex-col-reverse items-center md:grid md:grid-cols-3 bg-t-black rounded-3xl p-10;
  }

  .site-contact-section .heading-section {
    @apply col-span-2;
  }

  .site-contact-section .title {
    @apply text-xl text-t-primary font-mono;
  }

  .site-contact-section .subtitle {
    @apply text-5xl font-black text-t-white font-Jakarta mt-10;
  }

  .site-contact-section .button {
    @apply inline-block mt-20 bg-t-primary text-t-white font-semibold py-3 px-6 rounded-full text-xl hover:bg-transparent transition-all duration-300;
  }

  .site-contact-section .image {
    @apply max-w-52 flex justify-center items-center;
  }

  .site-contact-section .image {
    @apply w-full h-auto;
  }

  /* side-content Section */
  .site-contact-section .side-content {
    @apply bg-t-primary/40 rounded-3xl p-10;
  }

  .site-contact-section .icon {
    @apply w-16 h-auto;
  }

  .site-contact-section .text-content {
    @apply text-xl text-t-white/80 leading-8 my-5;
  }

  .site-contact-section .highlight {
    @apply text-t-white font-semibold;
  }

  .site-contact-section .side-content a {
    @apply sm:text-lg text-t-black sm:font-semibold bg-t-white sm:px-4 px-2 py-2 rounded-full inline-block;
  }

  .site-contact-section .social-icon {
    @apply text-green-800 sm:text-2xl sm:ml-2;
  }

  /* ===================== End of Portfolio Page ===================== */
}
